<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="NuGet official package source" value="a9a98b75-61d0-420b-b5f2-3b7339182183" />
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org" />
  </packageSources>
</configuration>